<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <h1><%= person.name %></h1>
    <p>Welcome to day 5</p>
    <table class="table">
    	<tr>
    	<th>S.no</th>
    	<th>Name</th>
    	<th>College</th>
    	<th>Action</th></tr>
    	<tr>
    	<th>1</th>
    	<th>mark</th>
    	<th>abc</th>
    	<th>@up</th>
    	</tr>
    	<tr>
    	<th>2</th>
    	<th>jacob</th>
    	<th>xyz</th>
    	<th>@down</th>
    	</tr>
    	<tr>
    	<th>3</th>
    	<th>edward</th>
    	<th>ppp</th>
    	<th>@post</th>
    	</tr>
    </table>
  </body>
</html>
